body {
  margin: 0;
  font-family: "Cookie", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

.brand,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
}

.lead {
  font-family: "Merienda", cursive;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.transparent {
  background: rgb(248, 249, 250) !important;
  background:
    linear-gradient(
      185deg,
      rgba(248, 249, 250, 0.3) 0%,
      rgba(248, 249, 250, 0.15) 27%
    ) !important;
}
